<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework" level="DEBUG"/>
    <logger name="ru.liga.pre-reform-dating-server" level="DEBUG"/>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
    <springProfile name="dev">
        <logger name="ru.liga.pre-reform-dating-server" level="DEBUG"/>
    </springProfile>
    <springProfile name="test">
        <logger name="ru.liga.pre-reform-dating-server" level="DEBUG"/>
    </springProfile>
</configuration>